div {
  display: flex;
  justify-content: center;
}

button {
  background-color: #dbf2f2;
  border: 2px solid #78cece;
  border-radius: 5px;
  padding: 7px 16px;
  margin:0 2px 0 0;
  color: #7b7a7a;
  cursor: pointer;
}

input{
  background-color: #dbf2f2;
  border: 2px solid #78cece;
  border-radius: 5px;
  padding: 5px;
  margin:0 2px 0 0;
}

#Dataset-1, #Dataset-2 {
  flex-direction: column;
  width: 200px;
  margin: 10px;
}